<!DOCTYPE html>

<html lang="en" class="default-style layout-fixed layout-navbar-fixed">

<head>
    <title>Attribute | title </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description"
        content="Empire Bootstrap admin template made using Bootstrap 4, it has tons of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords"
        content="Empire, bootstrap admin template, bootstrap admin panel, bootstrap 4 admin template, admin template">
    <meta name="author" content="Srthemesvilla" />
    <link rel="icon" type="image/x-icon" href="">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="/assets/fonts/fontawesome.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.css">
    <link rel="stylesheet" href="/assets/fonts/linearicons.css">
    <link rel="stylesheet" href="/assets/fonts/open-iconic.css">
    <link rel="stylesheet" href="/assets/fonts/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/assets/fonts/feather.css">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/assets/css/bootstrap-material.css">
    <link rel="stylesheet" href="/assets/css/shreerang-material.css">
    <link rel="stylesheet" href="/assets/css/uikit.css">

    <!-- Libs -->
    <link rel="stylesheet" href="/assets/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/libs/flot/flot.css">
    <link rel="stylesheet" href="/assets/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
    <link rel="stylesheet" href="/assets/libs/datatables/datatables.css">
    <link rel="stylesheet" href="/assets/libs/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="/assets/libs/bootstrap-multiselect/bootstrap-multiselect.css">
    <link rel="stylesheet" href="/assets/libs/select2/select2.css">
    <link rel="stylesheet" href="/assets/libs/bootstrap-tagsinput/bootstrap-tagsinput.css">
</head>

<body>
    <!-- [ Preloader ] Start -->
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>
    <!-- [ Preloader ] End -->

    <!-- [ Layout wrapper ] Start -->
    <div class="layout-wrapper layout-2">
        <div class="layout-inner">
            <!-- [ Layout sidenav ] Start -->
            {{>admin/sidebar}}
            <!-- [ Layout sidenav ] End -->
            <!-- [ Layout container ] Start -->
            <div class="layout-container">
                <!-- [ Layout navbar ( Header ) ] Start -->
                {{>admin/header}}
                <!-- [ Layout navbar ( Header ) ] End -->

                <!-- [ Layout content ] Start -->
                <div class="layout-content">

                    <!-- [ content ] Start -->
                    <div class="container-fluid flex-grow-1 container-p-y">
                        <h4 class="font-weight-bold py-3 mb-0">Add Attribute</h4>
                        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item ">Attribute</li>
                                <li class="breadcrumb-item active">Add Attribute</li>
                            </ol>
                        </div>

                        <div class="card mb-4 col-md-3" style="float:left;margin-right:40px;">
                            <h6 class="card-header">Add New Attribute</h6>
                            <div class="card-body">
                                <h6 class="card-header">Add Attribute</h6>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label">Attribute Name</label>
                                        <input type="text" name="attribute_name" id="attribute_name"
                                            class="form-control" value="{{attributes.attribute_name}}">
                                    </div>
                                    <small class="form-text text-muted" id="error"
                                        style="display:none;color:red !important;"></small>
                                    <div class="form-group">
                                        <label class="form-label col-md-12">
                                            <input type="checkbox" id="filter_checkbox" name="filter_checkbox" {{#if (eq attributes.filter 1)}}checked{{/if}}> Show On
                                            Filter
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Meta Keyword</label>
                                        <input type="text" name="" id="attribute_metakey" class="form-control" value="{{attributes.attribute_metakey}}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Meta Title</label>
                                        <input type="text" name="" id="attribute_metatitle" class="form-control"
                                            value="{{attributes.attribute_metatitle}}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Meta Description</label>
                                        <input type="text" name="" id="attribute_metadesc" class="form-control"
                                            value="{{attributes.attribute_metadesc}}">
                                    </div><br>
                                    <input type="hidden" id="id" value="{{attributes._id}}">
                                    <button type="button" id="add_type" class="btn btn-success"
                                        onclick="edit_attribute()">UPDATE</button>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- [ content ] End -->

                    <!-- [ Layout footer ] Start -->
                    {{>admin/footer}}
                    <!-- [ Layout footer ] End -->

                </div>
                <!-- [ Layout content ] Start -->

            </div>
            <!-- [ Layout container ] End -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-sidenav-toggle"></div>
    </div>
    <!-- [ Layout wrapper] End -->

    <!-- Core scripts -->
    <script src="/assets/js/pace.js"></script>
    <script src="/assets/js/jquery-3.2.1.min.js"></script><!-- tables not work in jquery-3.3.1 js -->
    <script src="/assets/libs/popper/popper.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/sidenav.js"></script>
    <script src="/assets/js/layout-helpers.js"></script>
    <script src="/assets/js/material-ripple.js"></script>

    <!-- Libs -->
    <script src="/assets/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/libs/eve/eve.js"></script>
    <script src="/assets/libs/flot/flot.js"></script>
    <script src="/assets/libs/flot/curvedLines.js"></script>
    <script src="/assets/libs/chart-am4/core.js"></script>
    <script src="/assets/libs/chart-am4/charts.js"></script>
    <script src="/assets/libs/chart-am4/animated.js"></script>
    <script src="/assets/libs/raphael/raphael.js"></script>
    <script src="/assets/libs/morris/morris.js"></script>
    <script src="/assets/libs/moment/moment.js"></script>
    <script src="/assets/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script src="/assets/libs/datatables/datatables.js"></script>
    <script src="/assets/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="/assets/libs/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="/assets/libs/select2/select2.js"></script>
    <script src="/assets/libs/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>


    <!-- Demo -->
    <script src="/assets/js/demo.js"></script>
    <script src="/assets/js/analytics.js"></script>
    <script src="/assets/js/pages/forms_selects.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script>

        function edit_attribute() {
            var attribute_name = $("#attribute_name").val();
            var attribute_metakey = $("#attribute_metakey").val();
            var attribute_metatitle = $("#attribute_metatitle").val();
            var attribute_metadesc = $("#attribute_metadesc").val();
            var id = '{{attributes._id}}';
            var filter_checkbox = 0;
            if ($("#filter_checkbox").prop('checked') == true) {
                filter_checkbox = 1;
            }

            if (attribute_name == "") {
                $("#error").html("Enter Attribute Name.");
                $("#error").show();
            } else {
                $("#error").hide();
                $("#add_type").attr("disables", "disabled");
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    data: { id: id, attribute_name: attribute_name, attribute_metakey: attribute_metakey, attribute_metatitle: attribute_metatitle, attribute_metadesc: attribute_metadesc, filter_checkbox: filter_checkbox },
                    url: "/retail_admin/attribute_edit_process",
                    success: function (response) {

                        if (response == "ok") {
                            location.href = "/retail_admin/attribute";
                        }
                        else if (response == "error") {
                            alert("Attribute Name Already Exist");
                            $('.btn-success').prop("disabled", false);
                        }
                    }
                });
                /* } */
            }
        }
    </script>

</body>


</html>