<style>
    @media only screen and (max-width: 769px) {
        .announcement-text {
            font-weight: 700;
            text-transform: uppercase;
            font-size: .9em;
            padding-left: 0px;
        }
    }

    @media only screen and (min-width: 769px) {
        .site-header {
            padding: 0 0 00px 0 !important;
        }
    }

    .site-header--stuck .toolbar {
        display: block;
    }

    @media only screen and (max-width: 400px) {
        .ddd {
            display: block;
            margin-top: -48px;
            background: #dc1f26;
            color: white;
        }
    }

    @media only screen and (min-width: 400px) and (max-width: 600px) {
        .ddd {
            display: block;
            margin-top: -32px;
            background: #dc1f26;
            color: white;
        }
    }

    @media only screen and (min-width: 1200px) {
        .ddd {
            display: block;
            margin-top: -25px;
            background: #dc1f26;
            color: white;
        }
    }

    .header-sticky-wrapper {
        position: sticky;
        padding-top: 25px;
    }

    .site-header--stuck {
        top: 25px;
    }

    @media (max-width:400px) {
        .site-header--stuck {
            top: 41px;
        }
    }

    .hease {
        font-size: 15px;
        font-weight: 700;
    }

    .megamenu .site-nav__dropdown-link {
        font-size: 14px;
    }

    #CartDrawer {
        z-index: 999;
    }

    .cart__checkout {
        width: 48% !important;
    }

    .image-wrap .animate-me,
    .image-wrap img:not([role=presentation]),
    .image-wrap svg {
        opacity: 1;
    }

    .custom_title {
        letter-spacing: 1px !important;
        height: auto !important;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-transform: capitalize !important;
        font-size: 18px;
    }

    @media only screen and (max-width: 768px) {
        .custom_title {
            font-size: 12px !important;
        }
    }

    .inline-list {
        padding: 5px;
        margin: 0;
    }

    div#category_slider {
        display: flex;
        overflow: auto;
    }

    .site-nav__link,
    .site-nav__dropdown-link:not(.site-nav__dropdown-link--top-level) {
        font-size: 12px;
    }

    .site-nav__link,
    .mobile-nav__link--top-level {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        padding: 7.5px 5px;
    }

    .mobile-nav__link--top-level {
        font-size: 1.1em;
    }

    .site-header {
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    }

    .toolbar+.header-sticky-wrapper .site-header {
        border-top: 0;
    }

    .st-wrapper-searchbox {
        position: relative;
    }

    .st-search-bar.st-hidden-sm {
        margin: -15px -100px 0 0;
        position: absolute;
        transition: .35s ease-in;
    }

    .st-search-bar input {
        font-family: inherit;
        border: 1px solid #f5f5f5 !important;
        padding-left: 30px !important;
        width: 100%;
        height: 35px !important;
        font-size: 13px !important;
        font-weight: 300;
        background-color: #f5f5f5;
        background-size: 17px !important;
        background-position-x: 10px !important;
        background-position-y: center !important;
        background-repeat: no-repeat !important;
        color: #000000;
        line-height: normal;
        padding: 5px 20px 5px 14px;
        font-family: "Twentieth Century", sans-serif;
    }

    .st-search-bar .input-close-btn {
        width: 20px;
        height: 10px !important;
        font-family: inherit;
        cursor: pointer;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MTIiIGhlaWdodD0iNjEyIj48cGF0aCBkPSJNNjEyIDM2LjAwNEw1NzYuNTIxLjYwMyAzMDYgMjcwLjYwOCAzNS40NzguNjAzIDAgMzYuMDA0bDI3MC41MjIgMjcwLjAwN0wwIDU3NS45OTdsMzUuNDc4IDM1LjRMMzA2IDM0MS40MTFsMjcwLjUyMSAyNjkuOTg2IDM1LjQ3OS0zNS40LTI3MC41NDEtMjY5Ljk4NnoiLz48L3N2Zz4=) !important;
        background-position-y: center !important;
        background-position-x: center;
        background-repeat: no-repeat !important;
        background-size: 11px !important;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 5px;
        margin-top: 13px;
        z-index: 6;
        color: #000000;
    }

    @media only screen and (max-width: 1025px) {
        .st-search-bar.st-hidden-sm {
            margin: -17px -30px 0 -15px;
            width: 140px;
            position: absolute;
        }

        span.st-search-icon {
            margin: -15px -12px !important;
        }
    }

    @media (min-width: 992px) {
        .st-search-bar.hidden-desktop {
            display: none !important;
        }
    }

    @media only screen and (max-width: 834px) {
        span.st-search-icon-mobile {
            cursor: pointer;
        }

        .st-search-bar.hidden-desktop {
            margin: 5px 5px 5px !important;
        }

        .st-hidden-sm {
            display: none !important;
        }

        .hidden-desktop {
            display: block;
        }
    }

    @media only screen and (max-width: 479px) {
        span.st-search-icon-mobile {
            cursor: pointer;
        }
    }

    span.st-search-icon-mobile svg {
        fill: #000;
        width: 30px;
        height: 30px;
    }

    .suggesstion-box {
        z-index: 100;
        font-size: 12px;
        background: var(--primary-bg);
        color: rgb(0, 0, 0);
        padding: 0px 1px 0px 44px;
        width: fit-content !important;
        max-height: 450px;
        overflow: auto;
        box-shadow: 1px 0px 10px var(--secondary-bg);
        position: absolute;
        border-block: inherit;
        background-color: white;
        border-radius: 2px;
        border: 1px solid #e8e8e8;
        margin: 0 !important;
        list-style-type: none;
    }

    .suggesstion-box li {
        float: left;
        width: 100%;
        padding: 5px 0;
    }

    .suggesstion-box li a {
        color: var(--site-color);
    }

    span.st-search-icon svg {
        fill: #000;
        height: 70px;
        width: 28px;
    }

    span.st-search-icon {
        cursor: pointer;
        position: absolute;
        z-index: 99999;
        margin: -17px 2px;
    }

    [v-cloak] {
        display: none;
    }

    .header-item--logo,
    .header-layout--left-center .header-item--logo,
    .header-layout--left-center .header-item--icons {
        -webkit-box-flex: 0 1 130px;
        -ms-flex: 0 1 130px;
        flex: 0 1 130px;
    }

    .toolbar .multi-selectors__item {
        margin-right: 0;
        margin-bottom: 3px;
    }

    @media only screen and (min-width: 769px) {

        .header-item--logo,
        .header-layout--left-center .header-item--logo,
        .header-layout--left-center .header-item--icons {
            -webkit-box-flex: 0 0 110px;
            -ms-flex: 0 0 110px;
            flex: 0 0 110px;
        }
    }

    .site-header__logo a {
        width: 170px;
    }

    .is-light .site-header__logo .logo--inverted {
        width: 130px;
        right: 15px;
    }

    @media only screen and (min-width: 769px) {
        .site-header__logo a {
            width: 350px;
        }

        .is-light .site-header__logo .logo--inverted {
            width: 110px;
        }
    }

    .header_listing {
        text-align: center;
        text-transform: capitalize;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon_common2 {
        letter-spacing: unset !important;
        margin-top: 1px;
    }

    .icon_common {
        width: auto !important;
        overflow: unset !important;
        position: unset !important;
        padding: 4px 6px;
    }

    .wishlist-icon {
        margin-top: 3px;
    }

    .cart-count {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-style: normal;
        z-index: 1;
        right: -8px;
        top: -5px;
        font-family: Poppins, sans-serif;
        font-size: 11px;
        font-weight: 500;
        line-height: 22px;
        background: #e81120;
        color: #fff;
        text-align: center;
        letter-spacing: 0px;
    }

    .wish-count {
        right: 0 !important;
    }

    .cart-count1 {
        display: block;
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-style: normal;
        z-index: 1;
        right: -10px;
        top: -38px;
        font-family: Poppins, sans-serif;
        font-size: 11px;
        font-weight: 500;
        line-height: 22px;
        background: #e81120;
        color: #fff;
        text-align: center;
        letter-spacing: 0px;
    }

    @media only screen and (max-width: 768px) {
        .desktop_icon {
            display: none;
        }

        .mobile_icon {
            display: block !important;
        }
    }

    @media only screen and (min-width: 769px) {
        .header-layout[data-logo-align=center] .header-item--logo {
            margin: 5px 0px;
        }
    }

    .site-header__logo .small--hide {
        max-width: 75%;
    }

    .header-item--logo-split {
        justify-content: left;
        flex: unset;
    }

    .st-search-bar.st-hidden-sm {
        width: 100%;
    }

    .st-search-bar input {
        border: 1px solid #c9baba !important;
    }

    @media only screen and (max-width: 600px) {
        .st-search-bar.hidden-desktop {
            margin: 0;
        }
    }

    @media only screen and (max-width: 600px) {
        .status {
            margin-top: 0;
        }
    }

    .announcement-text {
        padding-left: 0px;
    }

    .site-header__search-container.is-active {
        top: 10px;
    }
</style>

<div id="shopify-section-header" class="shopify-section">
    <div id="NavDrawer" class="drawer drawer--left">
        <div class="drawer__contents">
            <div class="drawer__fixed-header">
                <div class="drawer__header appear-animation appear-delay-1">
                    <div class="h2 drawer__title"></div>
                    <div class="drawer__close">
                        <button type="button" class="drawer__close-button js-drawer-close">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close"
                                viewBox="0 0 64 64">
                                <path d="M19 17.61l27.12 27.13m0-27.12L19 44.74" />
                            </svg>
                            <span class="icon__fallback-text">Close menu</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="drawer__scrollable">
                <ul class="mobile-nav" role="navigation" aria-label="Primary">
                    <li class="mobile-nav__item appear-animation appear-delay-4"><a href="http://localhost:4000/"
                            aria-label="home" class="mobile-nav__link mobile-nav__link--top-level">HOME</a>
                    </li>

                    {{#each category_data}}
                    <li class="mobile-nav__item appear-animation appear-delay-2">
                        <div class="mobile-nav__has-sublist"><a aria-label="{{this.category_seo_url}}"
                                href="{{this.category_seo_url}}" class="mobile-nav__link mobile-nav__link--top-level"
                                id="Label-collections-all{{this.category_name}}">
                                {{this.category_name}}
                            </a>
                            {{#if this.subcategories.length}}
                            <div class="mobile-nav__toggle">
                                 <button type="button" aria-controls="Linklist-collections-all{{this._id}}" aria-labelledby="Label-collections-all1" class="collapsible-trigger collapsible--auto-height"><span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                                        <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd" />
                                                    </svg>
                                                </span>
                                            </button>
                            </div>
                        </div>

                        <div id="Linklist-collections-all{{this._id}}"
                            class="mobile-nav__sublist collapsible-content collapsible-content--all">
                            <div class="collapsible-content__inner">
                                <ul class="mobile-nav__sublist">
                                    {{#each this.subcategories}}
                                    <li class="mobile-nav__item">
                                         <a href="{{this.subcategory_seo_url}}" class="mobile-nav__link">
                                            {{this.subcategory_name}}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}

                </ul>
            </div>
            <li class="mobile-nav__item mobile-nav__item--secondary">
                <div class="grid">
                    <div class="grid__item one-half appear-animation appear-delay-6 medium-up--hide">
                        <a href="/ABOUT_US" class="mobile-nav__link" aria-label="aboutus">About</a>
                    </div>
                    {{!-- <div class="grid__item one-half appear-animation appear-delay-6 medium-up--hide">
                        <a href="<?php echo $base_url; ?>my_account" class="mobile-nav__link"
                            aria-label="aboutus">Wallet</a>
                    </div>
                    <div class="grid__item one-half appear-animation appear-delay-6 medium-up--hide">
                        <a href="/wishlist" class="mobile-nav__link" aria-label="aboutus">Wishlist</a>
                    </div> --}}
                    <div class="grid__item one-half appear-animation appear-delay-7 medium-up--hide">
                        <a href="/CONTACT_US" class="mobile-nav__link" aria-label="contactus">Contact</a>
                    </div>
                    <div class="grid__item one-half appear-animation appear-delay-8 medium-up--hide">
                        <a href="/faq" class="mobile-nav__link" aria-label="faq">FAQ</a>
                    </div>
                 {{!--    <div class="grid__item one-half appear-animation appear-delay-9">

                        <a href="<?php echo $base_url ?>my_account" class="mobile-nav__link" aria-label="my account">MY
                            Account
                        </a>

                        <a href="<?php echo $base_url ?>login" class="mobile-nav__link" aria-label="log in">Log in
                        </a>

                    </div> --}}
                </div>
            </li>
            <ul class="mobile-nav__social appear-animation appear-delay-10">
                <li class="mobile-nav__social-item">
                    <a target="_blank" rel="noopener" aria-label="instagram" href="https://www.instagram.com/#/"
                        title="{{title}} — Modern on Instagram">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram"
                            viewBox="0 0 32 32">
                            <path fill="#444"
                                d="M16 3.094c4.206 0 4.7.019 6.363.094 1.538.069 2.369.325 2.925.544.738.287 1.262.625 1.813 1.175s.894 1.075 1.175 1.813c.212.556.475 1.387.544 2.925.075 1.662.094 2.156.094 6.363s-.019 4.7-.094 6.363c-.069 1.538-.325 2.369-.544 2.925-.288.738-.625 1.262-1.175 1.813s-1.075.894-1.813 1.175c-.556.212-1.387.475-2.925.544-1.663.075-2.156.094-6.363.094s-4.7-.019-6.363-.094c-1.537-.069-2.369-.325-2.925-.544-.737-.288-1.263-.625-1.813-1.175s-.894-1.075-1.175-1.813c-.212-.556-.475-1.387-.544-2.925-.075-1.663-.094-2.156-.094-6.363s.019-4.7.094-6.363c.069-1.537.325-2.369.544-2.925.287-.737.625-1.263 1.175-1.813s1.075-.894 1.813-1.175c.556-.212 1.388-.475 2.925-.544 1.662-.081 2.156-.094 6.363-.094zm0-2.838c-4.275 0-4.813.019-6.494.094-1.675.075-2.819.344-3.819.731-1.037.4-1.913.944-2.788 1.819S1.486 4.656 1.08 5.688c-.387 1-.656 2.144-.731 3.825-.075 1.675-.094 2.213-.094 6.488s.019 4.813.094 6.494c.075 1.675.344 2.819.731 3.825.4 1.038.944 1.913 1.819 2.788s1.756 1.413 2.788 1.819c1 .387 2.144.656 3.825.731s2.213.094 6.494.094 4.813-.019 6.494-.094c1.675-.075 2.819-.344 3.825-.731 1.038-.4 1.913-.944 2.788-1.819s1.413-1.756 1.819-2.788c.387-1 .656-2.144.731-3.825s.094-2.212.094-6.494-.019-4.813-.094-6.494c-.075-1.675-.344-2.819-.731-3.825-.4-1.038-.944-1.913-1.819-2.788s-1.756-1.413-2.788-1.819c-1-.387-2.144-.656-3.825-.731C20.812.275 20.275.256 16 .256z" />
                            <path fill="#444"
                                d="M16 7.912a8.088 8.088 0 0 0 0 16.175c4.463 0 8.087-3.625 8.087-8.088s-3.625-8.088-8.088-8.088zm0 13.338a5.25 5.25 0 1 1 0-10.5 5.25 5.25 0 1 1 0 10.5zM26.294 7.594a1.887 1.887 0 1 1-3.774.002 1.887 1.887 0 0 1 3.774-.003z" />
                        </svg>
                        <span class="icon__fallback-text">Instagram</span>
                    </a>
                </li>
                <li class="mobile-nav__social-item">
                    <a target="_blank" rel="noopener" aria-label="facebook" href="#"
                        title="{{title}} — Modern on Facebook">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook"
                            viewBox="0 0 14222 14222">
                            <path
                                d="M14222 7112c0 3549.352-2600.418 6491.344-6000 7024.72V9168h1657l315-2056H8222V5778c0-562 275-1111 1159-1111h897V2917s-814-139-1592-139c-1624 0-2686 984-2686 2767v1567H4194v2056h1806v4968.72C2600.418 13603.344 0 10661.352 0 7112 0 3184.703 3183.703 1 7111 1s7111 3183.703 7111 7111zm-8222 7025c362 57 733 86 1111 86-377.945 0-749.003-29.485-1111-86.28zm2222 0v-.28a7107.458 7107.458 0 0 1-167.717 24.267A7407.158 7407.158 0 0 0 8222 14137zm-167.717 23.987C7745.664 14201.89 7430.797 14223 7111 14223c319.843 0 634.675-21.479 943.283-62.013z" />
                        </svg>
                        <span class="icon__fallback-text">Facebook</span>
                    </a>
                </li>
                <li class="mobile-nav__social-item">
                    <a target="_blank" rel="noopener" aria-label="pinterest" href="#"
                        title="{{title}} — Modern on Pinterest">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pinterest"
                            viewBox="0 0 256 256">
                            <path
                                d="M0 128.002c0 52.414 31.518 97.442 76.619 117.239-.36-8.938-.064-19.668 2.228-29.393 2.461-10.391 16.47-69.748 16.47-69.748s-4.089-8.173-4.089-20.252c0-18.969 10.994-33.136 24.686-33.136 11.643 0 17.268 8.745 17.268 19.217 0 11.704-7.465 29.211-11.304 45.426-3.207 13.578 6.808 24.653 20.203 24.653 24.252 0 40.586-31.149 40.586-68.055 0-28.054-18.895-49.052-53.262-49.052-38.828 0-63.017 28.956-63.017 61.3 0 11.152 3.288 19.016 8.438 25.106 2.368 2.797 2.697 3.922 1.84 7.134-.614 2.355-2.024 8.025-2.608 10.272-.852 3.242-3.479 4.401-6.409 3.204-17.884-7.301-26.213-26.886-26.213-48.902 0-36.361 30.666-79.961 91.482-79.961 48.87 0 81.035 35.364 81.035 73.325 0 50.213-27.916 87.726-69.066 87.726-13.819 0-26.818-7.47-31.271-15.955 0 0-7.431 29.492-9.005 35.187-2.714 9.869-8.026 19.733-12.883 27.421a127.897 127.897 0 0 0 36.277 5.249c70.684 0 127.996-57.309 127.996-128.005C256.001 57.309 198.689 0 128.005 0 57.314 0 0 57.309 0 128.002z" />
                        </svg>
                        <span class="icon__fallback-text">Pinterest</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="CartDrawer" class="drawer drawer--right">
    <div id="CartDrawerForm" novalidate class="drawer__contents">
        <div class="drawer__fixed-header">
            <div class="drawer__header appear-animation appear-delay-1">
                <div class="h2 drawer__title">Cart</div>
                <div class="drawer__close">
                    <button type="button" class="drawer__close-button js-drawer-close">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close"
                            viewBox="0 0 64 64">
                            <path d="M19 17.61l27.12 27.13m0-27.12L19 44.74" />
                        </svg>
                        <span class="icon__fallback-text">Close cart</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="drawer__inner">
            <div class="drawer__scrollable">
                <div data-products class="appear-animation appear-delay-2 cartsproducts">
                </div>
            </div>
            <div class="drawer__footer appear-animation appear-delay-4">
                <div data-discounts>
                </div>
                <div class="cart__item-sub cart__item-row">
                    <div class="ajaxcart__subtotal" id=subtotal>Subtotal</div>
                    <div class="cart_tot_price" data-subtotal="">0</div>
                </div>
                <input type="hidden" id="cartsubtot" value="0">
                <div class="cart__item-row text-center">
                    <small>
                        Shipping, taxes, and discount codes calculated at checkout.<br />
                    </small>
                </div>
                <div class="cart__checkout-wrapper" style="display: flex;justify-content: space-between;">
                    <button type="button" name="checkout" onclick="checkout_function('checkout');"
                        data-terms-required="false" class="btn cart__checkout">
                        Check out
                    </button>
                    <button type="button" name="checkout" onclick="checkout_function('cart');"
                        data-terms-required="false" class="btn cart__checkout">
                        View Cart
                    </button>
                </div>
            </div>
        </div>
        <div class="drawer__cart-empty appear-animation appear-delay-2">
            <div class="drawer__scrollable">
                Your cart is currently empty.
            </div>
        </div>
    </div>
</div>

<div data-section-id="header" data-section-type="header">
    <div class="header-sticky-wrapper">
        <div id="HeaderWrapper" class="header-wrapper">
            <header id="SiteHeader" class="site-header" data-sticky="true" data-overlay="false">
                {{#if announcement}}
                {{#each announcement}}
                <div class="toolbar announcement-bar ddd">
                    <div class="page-width">

                        <div class="toolbar__content">
                            <div class="toolbar__item toolbar__item--menu">
                                <ul class="inline-list toolbar__menu">
                                    <li>
                                        <span class="announcement-text">{{this.title}}</span>
                                    </li>
                                </ul>
                            </div>
                            <!--  <div class="toolbar__item">
                                <div id="localization_formtoolbar" accept-charset="UTF-8" class="multi-selectors" enctype="multipart/form-data" data-disclosure-form=""><input type="hidden" name="form_type" value="localization" /><input type="hidden" name="utf8" value="✓" /><input type="hidden" name="_method" value="put" /><input type="hidden" name="return_to" value="/" />
                                    <div class="multi-selectors__item">
                                        <h2 class="visually-hidden" id="CurrencyHeading-toolbar">
                                            Currency
                                        </h2>
                                        <div class="disclosure" data-disclosure-currency style="background: #f5f6f8;border-radius: 10px;">
                                            <input type="hidden" name="country_code" value="<?php echo $_SESSION['currency_symbol']; ?>" data-disclosure-input>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <a href="/wishlist" class="site-nav__link site-nav__link--icon icon_common2 mobile_icon"
                                data-icon="wishlist" style="display:none;margin-right:5px;padding:2px">
                                <span class="cart-link header_listing" style="position: relative;">
                                <i class="fa fa-heart-o icon icon-bag" style="font-size:20px;line-height:1.5;"></i>
                                    {{!-- <i class="fa fa-heart-o icon icon-bag" style="font-size:20px;line-height:1.5;"></i> --}}
                                    <span class="cart-link__bubble"></span>
                                </span>
                            </a>
                             <a href="<?php echo $base_url; ?>my_account"
                                class="site-nav__link site-nav__link--icon icon_common2 mobile_icon" aria-label="wallet"
                                style="display:none;padding:2px">
                                <div class="header_listing">
                                    <img class="icon icon-user" alt="wallet" src="" style="width:97%;height:20px;">
                                </div>
                            </a>

                        </div>

                    </div>
                </div>
                {{/each}}
                {{/if}}
                <div class="page-width">
                    <div class="header-layout header-layout--center-split" data-logo-align="center">
                        <div class="header-item header-item--left header-item--navigation">
                            <div class="site-nav small--hide">
                                <!--  <a href="search.html" class="site-nav__link site-nav__link--icon js-search-header">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search"
                            viewBox="0 0 64 64">
                            <path
                              d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42" />
                          </svg>
                          <span class="icon__fallback-text">Search</span>
                        </a> -->
                            </div>
                            <div class="site-nav medium-up--hide">
                                <button type="button" class="site-nav__link site-nav__link--icon js-drawer-open-nav"
                                    aria-controls="NavDrawer" aria-expanded="false">
                                    <svg aria-hidden="true" focusable="false" role="presentation"
                                        class="icon icon-hamburger" viewBox="0 0 64 64">
                                        <path d="M7 15h51M7 32h43M7 49h51"></path>
                                    </svg>
                                    <span class="icon__fallback-text">Site navigation</span>
                                </button>
                            </div>
                            <div class="header-item header-item--logo">

                                <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
                                    <span class="visually-hidden">title</span>
                                    <a href="" itemprop="url" class="site-header__logo-link logo--has-inverted"
                                        style="padding-top: 14.666666666666664%" aria-label="logo">
                                        <img class="small--hide" alt="logo" src="/images/silli_logo.jpeg" srcset=""
                                            alt="<?php echo $title; ?>" itemprop="logo" style="max-width: 24%;">
                                        <img class="medium-up--hide" alt="logo" src="/images/silli_logo.jpeg" srcset=""
                                            alt="<?php echo $title; ?>">
                                    </a><a href="" itemprop="url" class="site-header__logo-link logo--inverted"
                                        style="padding-top: 27.666666666666664%" aria-label="logo">
                                        <img class="small--hide" alt="logo" src="/images/silli_logo.jpeg" srcset=""
                                            alt=" <?php echo $title; ?>" itemprop="logo" style="max-width: 24%;">
                                        <img class="medium-up--hide" alt="logo" src="/images/silli_logo.jpeg" srcset=""
                                            alt="<?php echo $title; ?>">
                                    </a>
                                </h1>
                            </div>
                        </div>
                        <div class="header-item header-item--logo-split" role="navigation" aria-label="Primary">
                            <div class="header-item header-item--logo-split" role="navigation" aria-label="Primary">
                                <div class="header-item" style="justify-content: center;">
                                    <ul class="site-nav site-navigation small--hide">
                                        <li class="site-nav__item site-nav__expanded-item">
                                            <a href="http://localhost:4000/"
                                                class="hease site-nav__link site-nav__link--underline"
                                                aria-label="home">
                                                HOME
                                            </a>
                                        </li>
                                        {{#each category_data}}
                                        <li class="site-nav__item site-nav__expanded-item   {{#if this.subcategories}}
                                        site-nav--has-dropdown site-nav--is-megamenu{{/if}}" {{#if this.subcategories}}aria-haspopup="true"{{/if}}>
                                            <a href="{{this.category_seo_url}}" aria-label="{{this.category_name}}"
                                                class=" hease site-nav__link site-nav__link--underline site-nav__link--has-dropdown" style="">
                                                {{this.category_name}}
                                            </a>

                                            <div class="customdropdown site-nav__dropdown megamenu text-left">
                                                <div class="page-width">
                                                    <div class="customMedium appear-animation">
                                                        {{#if this.subcategories}}
                                                            {{#each this.subcategories}}
                                                            <div>
                                                                <a href="{{this.subcategory_seo_url}}"
                                                                    class="site-nav__dropdown-link subcatSecCustom"
                                                                    aria-label="{{this.subcategory_name}}">
                                                                    {{this.subcategory_name}}
                                                                </a>
                                                            </div>
                                                            {{/each}}
                                                        {{else}}
                                                            <div>No subcategories available.</div>
                                                        {{/if}}

                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="header-item header-item--icons">
                            <div class="site-nav">
                                <div class="site-nav__icons">
                                    <a href="#" class="site-nav__link site-nav__link--icon js-search-header">
                                        <svg aria-hidden="true" focusable="false" role="presentation"
                                            class="icon icon-search" viewBox="0 0 64 64">
                                            <path
                                                d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42" />
                                        </svg>
                                        <span class="icon__fallback-text">Search</span>
                                    </a>
                                    {{!-- <a href="my_account"
                                        class="site-nav__link site-nav__link--icon icon_common2 desktop_icon"
                                        aria-label="wallet">
                                        <div class="header_listing">
                                            <img class="icon icon-user" alt="wallet" src="/cust_img/wallet-icon.png"
                                                style="width:50%;">
                                            <span class="icon__fallback-text icon_common">Wallet
                                            </span>
                                        </div>
                                    </a> --}}

                                   <a class="site-nav__link site-nav__link--icon icon_common2"
                                        aria-label="account" href="http://localhost:4000/my_account">
                                        <div class="header_listing">
                                            <svg aria-hidden="true" focusable="false" role="presentation"
                                                class="icon icon-user" viewBox="0 0 64 64">
                                                <path
                                                    d="M35 39.84v-2.53c3.3-1.91 6-6.66 6-11.41 0-7.63 0-13.82-9-13.82s-9 6.19-9 13.82c0 4.75 2.7 9.51 6 11.41v2.53c-10.18.85-18 6-18 12.16h42c0-6.19-7.82-11.31-18-12.16z" />
                                            </svg>
                                            <span class="icon__fallback-text icon_common"> Account
                                            </span>
                                        </div>

                                         <a class="site-nav__link site-nav__link--icon icon_common2"
                                            aria-label="login" href="http://localhost:4000/login">
                                            <div class="header_listing">
                                                <svg aria-hidden="true" focusable="false" role="presentation"
                                                    class="icon icon-user" viewBox="0 0 64 64">
                                                    <path
                                                        d="M35 39.84v-2.53c3.3-1.91 6-6.66 6-11.41 0-7.63 0-13.82-9-13.82s-9 6.19-9 13.82c0 4.75 2.7 9.51 6 11.41v2.53c-10.18.85-18 6-18 12.16h42c0-6.19-7.82-11.31-18-12.16z" />
                                                </svg>
                                                <span class="icon__fallback-text icon_common">LogIn
                                                </span>
                                            </div>
                                        </a>


                                        <!-- <a href="/wishlist" class="site-nav__link site-nav__link--icon icon_common2 desktop_icon" aria-label="wishlist">
                                        <div class="header_listing">
                                            <img class="icon icon-user" alt="wishlist" src="<?php echo $base_url ?>images/heart.svg" style="width:40%;">
                                            <span class="icon__fallback-text icon_common">Wishlist
                                            </span>
                                        </div>
                                        <span class="cart-count1  wiscount wis_added countwishlist" style="<?php echo $display; ?>"><?php echo $totwish; ?></span>
                                    </a> -->
                                        <a href="/wishlist"
                                            class="site-nav__link site-nav__link--icon icon_common2 desktop_icon"
                                            data-icon="wishlist">
                                            <span class="cart-link header_listing">
                                                <img class="icon icon-bag" alt="wishlist" src="cust_img/heart.svg"
                                                    style="width:40%;">
                                                <span class="icon__fallback-text icon_common">Wishlist</span>

                                                <span class="cart-count wish-count countproduct"
                                                    style="<?php echo $display; ?>">5</span>
                                                <span class="cart-link__bubble"></span>
                                            </span>
                                        </a>
                                        <a href="#" onclick="viewcart()"
                                            class="site-nav__link site-nav__link--icon js-drawer-open-cart icon_common2"
                                            data-icon="bag">
                                            <span class="cart-link header_listing"><svg aria-hidden="true"
                                                    focusable="false" role="presentation" class="icon icon-bag"
                                                    viewBox="0 0 64 64">
                                                    <g fill="none" stroke="#000" stroke-width="2">
                                                        <path d="M25 26c0-15.79 3.57-20 8-20s8 4.21 8 20" />
                                                        <path d="M14.74 18h36.51l3.59 36.73h-43.7z" />
                                                    </g>
                                                </svg>
                                                <span class="icon__fallback-text icon_common">Cart</span>

                                                <span class="cart-count countproduct"
                                                    style="<?php echo $display1; ?>">2</span>
                                                <span class="cart-link__bubble"></span>
                                            </span>
                                        </a>
                                        <div class="site-header__search-container">
                                            <div class="site-header__search">
                                                <div class="page-width">
                                                    <div class="site-header__search-form">
                                                        <input type="hidden" name="type" value="product,article">
                                                        <input type="hidden" name="options[prefix]" value="last">
                                                        <label for="search-icon" class="hidden-label">Search</label>
                                                        <label for="SearchClose" class="hidden-label">"Close
                                                            (esc)"</label>
                                                        <button type="submit" id="search-icon"
                                                            class="text-link site-header__search-btn site-header__search-btn--submit">
                                                            <svg aria-hidden="true" focusable="false"
                                                                role="presentation" class="icon icon-search"
                                                                viewBox="0 0 64 64">
                                                                <path
                                                                    d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42" />
                                                            </svg>
                                                            <span class="icon__fallback-text">Search</span>
                                                        </button>
                                                        <input class="serchtextboxCustom site-header__search-input"
                                                            type="search" name="q" id="searchpro_desktop"
                                                            onkeydown="search_enter()" value="" required
                                                            placeholder="Search..." />
                                                    </div>
                                                    <button type="button" id="SearchClose"
                                                        class="js-search-header-close text-link site-header__search-btn">
                                                        <svg aria-hidden="true" focusable="false" role="presentation"
                                                            class="icon icon-close" viewBox="0 0 64 64">
                                                            <path d="M19 17.61l27.12 27.13m0-27.12L19 44.74" />
                                                        </svg>
                                                        <span class="icon__fallback-text">"Close (esc)"</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="PredictiveWrapper" class="predictive-results hide"
                                                data-image-size="square">
                                                <div class="page-width">
                                                    <div id="PredictiveResults" class="predictive-result__layout"></div>
                                                    <div class="text-center predictive-results__footer">
                                                        <button type="button" class="btn btn--small"
                                                            data-predictive-search-button>
                                                            <small>
                                                                View more
                                                            </small>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="st-wrapper-searchbox">

                    <div class="st-search-bar st-hidden-sm" id="stDesktopSearchBox">
                        <!-- <span class="st-search-icon st-sm ">
                                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64">
                                            <path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"></path>
                                        </svg>
                                    </span>
                                    <input type="text" name="q" class="serchtextbox" placeholder="Search..." value="" autocapitalize="off" autocomplete="off" autocorrect="off" onkeydown="searchFunc()"> -->
                        <span class="input-close-btn " style="display: none;"></span>

                        <div id="trending-autocomplete" class="st-trending-box">
                            <div class="st-container-trend" style="display: block;">
                                <div id="st-before-search" style="background: white;">
                                    <ul class="suggesstion-box" style="display: none;">
                                        <li></li>
                                    </ul>
                                    <div class="st-autocomplete-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="st-search-icon-mobile hidden-desktop" style="display: none;">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search"
                        viewBox="0 0 64 64">
                        <path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42">
                        </path>
                    </svg>
                </span>

            </header>
        </div>
    </div>
</div>